---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
# Ocean blue color pallete: #001a33, #003366, #004080, #0059b3, #0066cc
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.navbar-brand img {
	height: 100px;
}

div.wrapintro h1 {
	font-size: 2rem;
}

div.wrapintro {
	background: #0066cc;
	color: antiquewhite;
	opacity: .9;
}

div.wrapintro .btn{
	background: #003366;
	color: antiquewhite;
}

.section-title h2 span {
	font-size:1.4rem;
	font-weight:700;
}
